@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@section header
{

}

@section subnav
{

}

<section id="error" class="error">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Error</h1>
            </header>
            <p>An error occured. Bummer.</p>
        </div>
    </div>
</section>
