
    header.website-title {

        width:200px;
        text-align:center;
        margin-bottom:@line-height-computed;

        // reset
        * {
            margin: 0;
            padding: 0;
        }

        img {
            margin-top:20px;
            width: 200px;
        }

        h1 {

        }
    }

