//
// Responsive: Tablet to desktop
// --------------------------------------------------
@media (min-width: 768px) and (max-width: 979px) {

    body.show-responsive::after {
        content: "(min-width: 768px) and (max-width: 979px)";
    }

    nav.affix {
        position: static;
        width: auto; // width auto isn't entirely necessary.
        i.icon-chevron-right {
            display: none;
        }
    }

    div.affix-container {
        padding-top: 30px;
    }
}
