
<section>
    @MyHelpers.BigFontTocSectionHeader(Html, "Productivity: Copy and Paste")
    <p>
        <strong>The most useful two shortcuts ever - copy and paste.</strong>
    </p>
    <p>
        First, select some content that you would like to copy. Then on your keyboard use <code>Ctrl + C</code> to copy it. Finally, use <code>Ctrl + V</code> to paste at a new location.
    </p>
    <p>
        If you only ever learn two keyboard shortcuts, these are probably the ones to learn. You can copy just about anything: text in a document, text from a website, a folder on your desktop, a file. This is vital knowledge when there is no menu bar available to perform these actions.
    </p>
</section>