<section id="two-website-types">
    @MyHelpers.BigFontTocSectionHeader(Html, "Productivity: Two Website Types")
    <p class="lead">
        There are only two types of websites when we are talking small business. One follows a content management process and the other follows a content management process!
    </p>
    <p>
        Huh?
    </p>
    <p>
        The difference is that with one you do it and the other your webmaster does it.
    </p>
    <p>
        Does what?
    </p>
    <p>
        Well, manage the @MyHelpers.PopoverDfn(
                        term: "content", 
                        dfn: "Content refers to the text and images of the website that you can update yourself.",
                        placement: "top") of your website.
    </p>
    <p>
        See, many small business people, knowing they need a website that can be changed and updated from time to time, and at the same time knowing they have not the time, the know-how nor the wish to act as a webmaster, ask their website developer to make their site easy to change and to update, so that they or a member of their staff/team can effect the periodic updates.
    </p>
    <p>
        But see, here is the thing. To be able to easily change website content by someone unsophisticated in the ways of the web, means building in any number of tools and safeguards to give effect to this. To do this costs money and maybe quite a lot of it. Then, when your website needs updating in terms of design or issues other than content that you cannot change, (because design changes do not come under the heading of content management) you need to call in your web designer anyway, who in turn may charge you more, because of the built-in complications that make effecting your new design changes harder. See how complicated it is getting?
    </p>
    <p>
        We have a client (several actually) who insisted he wanted to be able to change and update content in his new website from time to time. It is now two years since we built his site, and he has yet to update it even once. We learned this because he now wants to make a few minor changes and does not know how. Lack of making changes means he forgot what we taught him. So now we am making the changes for him. That client paid us more for his website development than he need have.
    </p>
    <p>
        So what is the alternative?
    </p>
    <p>
        Tell your web designer that although you will want to update the content of your site from time to time it will probably be for only a few minor items and might happen once a year, maybe several times a year but in any event not very often. Your web designer then should advise you to go for a content management system that requires a webmaster.
    </p>
    <p>
        "Oh no" you say, "I am not adding a webmaster to my payroll."
    </p>
    <p>
        Of course you are not. Your web designer becomes your webmaster. Updates to the content are easier for the webmaster (who is the techie and knows his/her way around a website) because all those do-it-yourself capabilities were not built-in. Same goes for layout and design changes. Way simpler to revise and update.
    </p>
    <p>
        With your own webmaster, you simply pay, as needed, a quarter hourly rate to have the changes made for you. That is why at BigFont, although we have a billing rate based on an hour or part thereof, if we have a webmaster arrangement with you, we will bill in quarter hour segments.
    </p>
    <p>
        So there you go. Done quickly, efficiently and cheaply you do not have to concern yourself with becoming an IT techie. You keep to the business you know and love and leave the mumbo jumbo to us geeks.
    </p>
    <p>
        See how simple it can be?
    </p>
</section>