<section id="what-is-the-web">
    @MyHelpers.BigFontTocSectionHeader(Html, "Literacy: What is the Web?")

    <p class="lead">
        The Web lets us share documents with each other over the Internet. If you are using a Web browser, you are using the World Wide Web.
    </p>

    <p>
        The Web is the modern evolution of the human tendency to share information. Before the Web we used the postal system, newspaper, or a physical bulletin board. Before that we passed notes in school or wrote on bathroom walls. We even used to talk to each other. Early on we etched on cave walls what now flies across the Internet in an instant, landing on your Web browser, and linking one set of content to another to another, in an infinite mesh of interconnected information.
    </p>

    @MyHelpers.TechTipHeadshot("shaun", "right")

    <p>
        To be clear, the Web is not the Internet. Rather, the Web uses the Internet. It is a digital document sharing and interlinking technology that connects Web browsers with Web servers via the Internet. If that is too technical, consider that if you or I or anyone types up a document on a computer, takes a picture of our cat, films a hamster’s ridiculous antics – whatever, we can put it on the Web for anyone to access! If you want something more technical, think of the Web as a marriage between hypertext and the Internet.
    </p>

    <p>
        Prior to the Web we could share documents (and pictures, video, and audio) at a global scale through traditional systems of hand delivery, or by logging into mainframe computers using Telnet over the Internet. The first use of the Web technology was at CERN, and it was a replacement for using Telnet to access the CERN telephone directory. This first application of the fledgling Web technology let CERN employees access the phone directly without having to log in. They would simply request the telephone directory document and the mainframe would respond with a Web page.
    </p>

    <p>
        The documents delivered over the Web are known as Web pages and can contain text, images, audio, video, and other dynamism. Digital documents that preceded the Web are more difficult to share widely with others. Microsoft Word, for instance, preceded the Web as a way to produce a digital document. To share a Word Document we need to print it, save it to a disk, or attach it to an email. Web pages are different from other documents in a five key ways.
    </p>

    <ol>
        <li>we write Web pages in hypertext markup language (HTML)</li>
        <li>we publish Web pages to Web servers</li>
        <li>we assign a unique address to each Web page</li>
        <li>we reference that address from within other Web pages</li>
        <li>we access Web pages by using a Web browser</li>
    </ol>

    <p>
        Once we publish it, we can share a Web page by giving someone its unique address. This linking technology is called hypertext and existed before the World Wide Web. Before the Web, hypertext linking was constrained to a single computer. With hypertext linking, we give one document a unique, numeric address such as <code>192.168.0.7</code>, and in another document we reference that address, "Hey, what I am writing here is related to what I wrote in another document. Check it out by going to <code>192.168.0.7</code>." The Web lets us do hyperlinking among computers world-wide and without using confusing numeric addresses.
    </p>

    <p>
        We can interlink a Web page with another by adding a hyperlink. Hyperlinks are user-friendly and they look a bit like this: <a>click here!</a> They are generally short phrases and are traditionally presented in an blue, underlined font. Underpinning that blue, underlined phrase is a unique address to another digital document, which the computer will show us when we click the link.
    </p>

    <p>
        The marriage of hypertext technology with the Internet allowed us to share digital documents at a global scale. Before the Web, hypertext technology let us do this hyperlinking within the confines of our own computers. Circa 1980 a researcher named Tim Berners-Lee developed the technology to combine hypertext with the Internet! This was no small feat. Eleven years later, on 23 August 1991, the Web became publicly available.
    </p>

    <p>
        The advent of the Web required the invention of four technologies: HTML, HTTP, Web Servers, and Web Browsers. We mentioned HTML as the way to represent digital documents as Web pages. We also needed a way to send these documents across the Internet. This is the job of HTTP: the hypertext transfer protocol. After we type up a document using HTML, we send it across the Internet wires using the HTTP. Web browsers and web servers are the two endpoints. A person uses a web browser to request an HTML document, the Web browser sends that request via HTTP across the Internet to a Web server, and the Web server responds with the correct document. Bingo bongo!
    </p>

    <p>
        Tim Berners-Lee invented the Web, and while his technology had competitors, Web technology thrived and quickly grew because Lee made his technology open and royalty-free. The Gopher protocol developed in parallel for Internet document sharing fell by the wayside because of costs. In contrast, after science departments and physics labs first adopted the Web circa 1991, we had 50 Web servers in January of 1993 and 500 by October the same year. During this early period, Lee founded the World Wide Web Consortium (W3C) and reified the royalty-free policy.
    </p>

    <p>
        The Web technology that people are most likely to use is the Web browser. This is the software that people use to surf the Web. These days Web browsers include Firefox, Internet Explorer, Safari, Chrome, and Opera. They used to have names like Erwise, ViolaWWW, Lynx, Cello, and Mosaic. The latter became Netscape Navigator!
    </p>

    <p>
        Every time you open a Web browser, what you are probably doing is requesting a Web page from a Web server somewhere around the world. Every time you click on a link, perform a Web search, or type an address into the address bar, you are making another request for a specific Web page. Your request pings across the Internet, from computer to computer to computer, until it finds the right Web server, and then that Web server sends the right document back at you. Beautiful, isn’t it.
    </p>

    <p>
        These days many people browse the Web as a matter of course while others feel it is a foreign concept. Those familiar with it will buy products from Amazon, book flights online, search with Google, Bing, Yahoo, and DuckDuckGo, and share their life with others through Facebook. All of these are Web sites, which are just collections of Web pages, firing themselves across the world at the speed of electricity, and landing at the comfort of your Web browser.
    </p>

    <p>If you can find it online, you are probably finding it on the Web.</p>

    <dl>
        <dt>1980</dt>
        <dd>Tim Berners-Lee starts to tinker with existing hypertext technology to link together related documents at CERN.</dd>
        <dt>1984</dt>
        <dd>CERN installs the Internet protocols (TCP/IP) on some of their computers thus bringing together Berners-Lee and the Internet.</dd>
        <dt>1989</dt>
        <dd>Berners-Lee chooses the name World Wide Web for his experimental technology.</dd>
        <dt>1990</dt>
        <dd>Berners-Lee pitches the Web to an unappreciative audience of vendors. Oops. Berners-Lee completes working versions of HTML, HTTP, Web Browser, and Web Server. The first Web servers go online at CERN.</dd>
        <dt>1991</dt>
        <dd>Web servers go online outside of CERN. The Web becomes publicly available 23 August!</dd>
        <dt>1993</dt>
        <dd>50 Web servers grow to 500 by the end of the year. The first Web browsers emerge.</dd>
        <dt>1994</dt>
        <dd>Berners-Lee founds the W3C and reifies the royalty-free policy of the technologies.</dd>
        <dt>1996</dt>
        <dd>Corporations take notice and begin to have a Web presence along with e-commerce.</dd>
        <dt>2001</dt>
        <dd>The dot-com bubble bursts for companies without a solid business plan or well-defined niche.</dd>

    </dl>

    <aside class="panel panel-primary">
        <div class="panel-heading">
            Tony's Perspective
        </div>
        <div class="panel-body">
            @MyHelpers.TechTipHeadshot("tony", "right")
            <p>
                I kinda got the Internet, but this WWW business has me befuddled again. I mean, you know, I sorta understand what you're saying, but then again sorta not. I'm just a luddite when it comes to this stuff. I do recall a dot-com bubble though; it took me for a lot of cash. No idea where it went, it just went. I think back, I think I could have done without it. Then I'd be in my cottage in Belize by now. Come to think of it, now I understand why the vendors Berners-Lee pitched were so unappreciative. Kinda like me they lost out too, 'cept in their case it was revenue not capital. All I can say is, if we gotta have this stuff on account of it's progress, well then, thank you evolution for allowing mutations to happen 'cos out of that we got geeks.
            </p>
        </div>
    </aside>

</section>
