<section id="what-is-the-web">
    @MyHelpers.BigFontTocSectionHeader(Html, "Literacy: What is the Web?")

    <p class="lead">
        The Web lets us share documents with each other over the Internet. If you are using a Web browser, you are using the World Wide Web.
    </p>

    <p>
        The Web is the modern evolution of the human tendency to share documents. Before the Web we used the postal system, newspaper, or a physical bulletin board. Before that we passed notes in school or wrote on bathroom walls. Early on we etched on cave walls what now flies across the Internet in an instant, landing on your Web browser, and linking one document to another to another, in an infinite mesh of interconnected content.
    </p>

    @MyHelpers.TechTipHeadshot("shaun", "right")

    <p>
        To be clear, the Web is not the Internet. Rather, the Web uses the Internet. It is a digital document sharing and interlinking technology that connects Web browsers with Web servers via the Internet. If that is too technical, consider that if you or I or anyone types up a document on a computer, takes a picture of our cat, films a hamster’s ridiculous antics – whatever, we can put it on the Web for anyone! If you want something more technical, think of the Web as a marriage between hypertext and the Internet.
    </p>

    <p>
        Prior to the Web we could share documents (and pictures, video, and audio) at a global scale through traditional systems of hand delivery, or by logging into mainframe computers using Telnet over the Internet. The first use of the World Wide Web technology was at CERN, and it was a replacement for Telnet, which employees had previously used to access the CERN telephone directory. The first application of fledgling Web technology let CERN employees access the phone directly without having to log in. They would simply request the document and the mainframe would respond with it.
    </p>

    <p>
        The documents delivered over the Web are known as Web pages, and they can contain text, images, audio, video, and other dynamism. Digital documents that preceded the Web are more difficult to share widely with others. Microsoft Word, for instance, preceded the Web as a way to produce a digital document. To share a Word Document we need to print it, save it to a disk, or attach it to an email. Web pages are different in a five key ways:
    </p>

    <ol>
        <li>we write Web pages in hypertext markup language (HTML),</li>
        <li>we publish Web pages to Web servers,</li>
        <li>we assign a unique address to each Web page,</li>
        <li>we reference that address from within other Web pages, and</li>
        <li>we access Web pages by using a Web browser.</li>
    </ol>

    <p>
        Once we publish it, we can share a Web page by giving someone its unique address. This linking technology is called hypertext and existed before the World Wide Web. Before the Web, hypertext linking was constrained to a single computer. We give one document a unique address such as 192.168.0.7, and in another document reference that address, "Hey, what I am writing here is also related to what I wrote here in another document. Check it out by going to 192.168.0.7." The Web let us do this among computers world-wide.
    </p>

    <p>
        Instead of writing that, though, we can interlink a Web page with another by adding a hyperlink between them. Hyperlinks are much more user friendly and they look a bit like this these days: click here! That is, they are generally short phrases that are traditionally underlined and blue. Underneath that blue, underlined phrase is a unique address to another digital document. When we click the link, our computer shows us the digital document with that address.
    </p>

    <p>
        The marriage of hypertext technology with the Internet allowed us to share digital documents at a global scale. Before the World Wide Web, hypertext technology let us doing this hyperlinking within the confines of our own computers. Circa 1980 a researcher named Tim Berners-Lee developed the technology to combine hypertext with the Internet! This was no small feat. Eleven years later, the Web became a publically available service.
    </p>

    <p>
        The advent of the World Wide Web required the invention of five technologies: HTML, HTTP, Web Servers, and Web Browsers. We have already talked HTML as the way that we represent digital documents as Web pages. From there, we needed a way to send these documents across the Internet. This is what HTTP (the hypertext transfer protocol) did for us. After we type up a document using HTML, we can send it across with Internet wires using the HTTP protocol. Web browsers and Web servers are the two endpoints of this. In other words, a person will use a Web browser to request an HTML document, send that request via HTTP across the Internet to a Web server, and the Web server will respond with the appropriate document.
    </p>

    <p>
        Tim Berners-Lee technology had competitors; the World Wide Web thrived and quickly grew because Lee made his technology open and royalty free. For instance, the Gopher protocol developed in parallel for Internet document sharing and fell by the wayside because of costs. In contrast, after science departments and physics labs had first adopted the Web circa 1991, it grew quickly: 50 Web servers in January of 1993 became 500 by October the same year. During this early period, Lee founded the World Wide Web Consortium (W3C) and reified the royalty-free policy of the technologies.
    </p>

    <p>
        The technology that people are most likely to use it the Web browser. This is the software that people use to surf the Web. These days Web browsers include Firefox, Internet Explorer, Safari, Chrome, and Opera. They used to have names like Erwise, ViolaWWW, Lynx, Cello, and Mosaic. The latter became Netscape Navigator! Every time you open one of those, what you are really doing requesting Web pages from Web servers around the world. Every time you click on a link, perform a Web search, or type an address into the address bar, you are making another request for a specific Web page. Your request pings across the Internet, from computer to computer to computer, until it finds the right Web server, and then that Web server sends the right document back at you. Beautiful, isn’t it.
    </p>

    <p>
        These days many people browse the Web as a matter of course while others feel it is a foreign concept. Those familiar with it will buy products from Amazon, book flights online, search with Google, Bing, Yahoo, and DuckDuckGo, and share their life with others through Facebook. All of these are Web sites, which are just collections of Web pages, firing themselves across the world at the speed of electricity, the brainchild of Tim Berners-Lee marriage of hypertext with the Internet.
    </p>

    <dl>
        <dt>1980</dt>
        <dd>Tim Berners-Lee starts to tinker with existing hypertext technology to link together related documents at CERN.</dd>
        <dt>1984</dt>
        <dd>CERN installs the Internet protocols (TCP/IP) on some of their computers thus bringing together Berners-Lee and the Internet.</dd>
        <dt>1989</dt>
        <dd>Berners-Lee chooses the name World Wide Web for his experimental technology.</dd>
        <dt>1990</dt>
        <dd>Berners-Lee pitches the Web to an unappreciative audience of vendors. Oops. Berners-Lee completes working versions of HTML, HTTP, Web Browser, and Web Server. The first Web servers go online at CERN.</dd>
        <dt>1991</dt>
        <dd>Web servers go online outside of CERN. The Web becomes publically available 23 August!</dd>
        <dt>1993</dt>
        <dd>50 Web servers grow to 500 by the end of the year. The first Web browsers emerge.</dd>
        <dt>1994</dt>
        <dd>Berners-Lee founds the W3C and reifies the royalty-free policy of the technologies.</dd>
        <dt>1996</dt>
        <dd>Corporations take notice and begin to have a Web presence along with e-commerce.</dd>
        <dt>2001</dt>
        <dd>The dot-com bubble bursts for companies without a solid business plan or well-defined niche.</dd>

    </dl>

</section>
