<?xml version="1.0"?>
<appSettings>
  <add key="email_smtp_host" value="smtp.sendgrid.net"/>
  <add key="email_smtp_username" value="azure_50259efdfec53238209bbceeee53b975@azure.com"/>
  <add key="email_smtp_password" value="mbt2btbu"/>
  <add key="email_smtp_from_email" value="shaun@bigfont.ca"/>
  <add key="email_smtp_from_display_name" value="shaun@bigfont.ca"/>
</appSettings>
