<?xml version="1.0"?>
<configuration>
  <!--AppSettings are private information-->
  <appSettings configSource="AppSettings.config"/>
  <system.web>
    <trust level="Full"/>
    <compilation debug="false" targetFramework="4.0"/>
    <customErrors defaultRedirect="/Error.aspx" mode="On"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--For detailed HTTP errors, comment out the following httpErrors section.-->
    <httpErrors errorMode="Custom" defaultPath="/Error.aspx" defaultResponseMode="Redirect">
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
    </httpErrors>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="364.00:00:00"/>
    </staticContent>
    <urlCompression doDynamicCompression="true"/>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>
    <extensions>
      <behaviorExtensions>
        <add name="customFormProcessingBehavior" type="BigFont.FormProcessingBehaviorExtensionElement, BigFont"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <!--The service name is the implementing class not the interface-->
      <service behaviorConfiguration="BigFont.GenericServiceBehavior" name="BigFont.FormProcessor">
        <endpoint address="" behaviorConfiguration="BigFont.RestfulEndpointBehavior" binding="webHttpBinding" contract="BigFont.IFormProcessor" name="RestfulEndpoint" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BigFont.GenericServiceBehavior" >
          <!--This is necessary for viewing the metadata via ?wsdl-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="BigFont.RestfulEndpointBehavior">
          <!--This is necessary for receiving form post data-->
          <customFormProcessingBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
