<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<trust level="Full"/>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors defaultRedirect="/Error.aspx" mode="On"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<rewrite>
			<rules>
				<!--Nature Works Web Application-->
				<rule name="ssnw" stopProcessing="true">
					<match url="(.*)"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^ssnw.bigfont\.ca$"/>
					</conditions>
					<action type="Rewrite" url="\ssnwapplication_rootvirtualdirectory\{R:1}"/>
				</rule>
				<!--Dave's Blasting Web site-->
				<rule name="blasting" stopProcessing="true">
					<match url="(.*)"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^blasting.bigfont\.ca$"/>
					</conditions>
					<action type="Rewrite" url="\blastingapplication_rootvirtualdirectory\{R:1}"/>
				</rule>
			</rules>
		</rewrite>
		<httpErrors errorMode="Custom" defaultPath="/Error.aspx" defaultResponseMode="Redirect">
			<remove statusCode="502" subStatusCode="-1"/>
			<remove statusCode="501" subStatusCode="-1"/>
			<remove statusCode="500" subStatusCode="-1"/>
			<remove statusCode="412" subStatusCode="-1"/>
			<remove statusCode="406" subStatusCode="-1"/>
			<remove statusCode="405" subStatusCode="-1"/>
			<remove statusCode="403" subStatusCode="-1"/>
			<remove statusCode="401" subStatusCode="-1"/>
			<remove statusCode="404" subStatusCode="-1"/>
		</httpErrors>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="364.00:00:00"/>
		</staticContent>
		<urlCompression doDynamicCompression="true"/>
	</system.webServer>
	<system.serviceModel>
        <extensions>
            <behaviorExtensions>
                <add name="customFormProcessingBehavior" type="BigFont.FormProcessingBehaviorExtensionElement, BigFont"/>
            </behaviorExtensions>
        </extensions>
        <services>
            <!--The service name is the implementing class not the interface-->
            <service behaviorConfiguration="BigFont.GenericServiceBehavior" name="BigFont.FormProcessor">
                <endpoint address="" behaviorConfiguration="BigFont.RestfulEndpointBehavior" binding="webHttpBinding" contract="BigFont.IFormProcessor" name="RestfulEndpoint" />                
            </service>    
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="BigFont.GenericServiceBehavior" >
                    <!--This is necessary for viewing the metadata via ?wsdl-->
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="BigFont.RestfulEndpointBehavior">
                    <!--This is necessary for receiving form post data-->
                    <customFormProcessingBehavior />
                </behavior>
            </endpointBehaviors>
        </behaviors>
	</system.serviceModel>
</configuration>
