<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="email_smtp_host" value="smtp.sendgrid.net"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)"/>
    <add key="email_smtp_username" value="azure_1008d94f6dca35ccbc7a1441d4f3d55d@azure.com"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)"/>
    <add key="email_smtp_password" value="q45o6d9s"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)"/>
    <add key="email_smtp_from_email" value="shaun@bigfont.ca"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)"/>
    <add key="email_smtp_from_display_name" value="shaun@bigfont.ca"         
         xdt:Transform="Replace"
         xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>