<footer>
    <figure class="bizspark">
        <figcaption>
            We are grateful for the support:
        </figcaption>
        <img alt="of the Microsoft Biz Spark program." src="~/Images/microsoft-bizspark-logo.jpg" />
    </figure>

    <a class="btn btn-info return-to-top" href="#top"><i class="icon-arrow-up">&nbsp;</i>Return to Top</a>
</footer>