<footer>
    <div class="bizspark">
        <p>
            We are grateful for the support:
            <img alt="of the Microsoft Biz Spark program." src="~/Images/microsoft-bizspark-logo.jpg" />
        </p>
    </div>

    <a class="btn btn-info return-to-top" href="#top"><i class="icon-arrow-up">&nbsp;</i>Return to Top</a>
</footer>