<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar">
            <span>
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </span>
        </button>
        @*<a class="navbar-brand" href="/">
            <img alt="The BigFont logo is a crest."
                 class="logo"
                 src="~/Images/logo-crest-colors-tokopa-xs.png"
                 title="The BigFont.ca Logo" />
        </a>*@
        <div class="collapse navbar-collapse" id="my-navbar">
            @Html.MvcSiteMap().Menu()
        </div>
    </div>
</nav>
