<div class="website-title">
    <header class="container">
        <img alt="The BigFont logo is a crest."
             class="logo"
             src="~/Images/resized/logo-crest-black-and-white-tokopa-inverse-resizePhone.png"
             title="The BigFont.ca Logo" />
        <h1>
            @Html.MvcSiteMap().SiteMapTitle()
        </h1>
    </header>
</div>
