@model System.Web.Mvc.HandleErrorInfo

<section id="error" class="error">

    <header>
        <h1>Error</h1>
    </header>
    <p>
        An error occured. Bummer. Try our <a href="SiteMap">sitemap</a> to get back on track.
    </p>

</section>
