@model System.Web.Mvc.HandleErrorInfo

<section id="error" class="error">

    @MyHelpers.BigFontTocSectionHeader(Html, "Error")
    <p>
        An error occured. Bummer. Try our <a href="SiteMap">sitemap</a> to get back on track.
    </p>

</section>
