@model System.Web.Mvc.HandleErrorInfo

<section id="error" class="error">

    @MyHelpers.BigFontTocSectionHeader(Html, "Error")
    <p>
        An error occured. Bummer. Try going <a href=".">home</a> to get back on track.
    </p>

</section>
