@functions
{

}



@section header
{
    <h1>Web Site Development Checklist</h1>
}

@section subnav
{
    <li><a href="#browser-testing"><i class="icon-chevron-right"></i>Browser Testing</a></li>
    <li><a href="#screen-size-testing"><i class="icon-chevron-right"></i>Screen Size Testing</a></li>
    <li><a href="#performance-testing"><i class="icon-chevron-right"></i>Performance Testing</a></li>
    <li><a href="#content-guidelines"><i class="icon-chevron-right"></i>Content Guidelines</a></li>
    <li><a href="#other-stuff"><i class="icon-chevron-right"></i>Other Stuff</a></li>

}

<section>
    <div class="row">
        <div class="span7">
            <header>
                <h1>What makes a website good?</h1>
            </header>
            <p>We think that the more of the following boxes you can tick, the better your website is.</p>
        </div>
    </div>
</section>

<section id="browser-testing">

    <div class="row">
        <div class="span7">
            <header>
                <h1>Cross Browser Testing</h1>
            </header>
            <p>Our website looks good and works in the following web browsers.</p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-check-empty"></i>Internet Explorer</li>
                <li><i class="icon-li icon-check-empty"></i>Firefox</li>
                <li><i class="icon-li icon-check-empty"></i>Chrome</li>
                <li><i class="icon-li icon-check-empty"></i>Safari</li>
            </ul>
        </div>
    </div>
</section>

<section id="screen-size-testing">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Device Size Testing</h1>
            </header>
            <p>Our website looks good and works in the following screen sizes.</p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-check-empty"></i>Large Desktop</li>
                <li><i class="icon-li icon-check-empty"></i>Desktop</li>
                <li><i class="icon-li icon-check-empty"></i>Tablet Landscape</li>
                <li><i class="icon-li icon-check-empty"></i>Tablet Portrait</li>
                <li><i class="icon-li icon-check-empty"></i>Mobile Landscape</li>
                <li><i class="icon-li icon-check-empty"></i>Mobile Portrait</li>
            </ul>
        </div>
    </div>
</section>

<section id="performance-testing">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Performance Testing</h1>
            </header>
            <p>Our website is <em>fast</em>. It scores well in the following evaluation tools.</p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-check-empty"></i><a href="https://developers.google.com/speed/pagespeed/insights">Google Pagespeed</a> score over 80.</li>
            </ul>
        </div>
    </div>
</section>

<section id="content-guidelines">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Content Guidelines</h1>
            </header>
            <p>Our website has reads well because we have checked over the text.</p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-check-empty"></i>Grammar</li>
                <li><i class="icon-li icon-check-empty"></i>Spelling</li>
                <li><i class="icon-li icon-check-empty"></i>Pithiness</li>
            </ul>
        </div>
    </div>
</section>

<section id="other-stuff">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Other Stuff</h1>
            </header>
            <p>Our website has the following exceptional and often overlooked touches.</p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-check-empty"></i>Custom Error Pages</li>
                <li><i class="icon-li icon-check-empty"></i>Print Style Sheets</li>
                <li><i class="icon-li icon-check-empty"></i>Usability Testing</li>
            </ul>
        </div>
    </div>
</section>
