@section header
{
    <h1>Packages that BigFont.ca Provides</h1>

}


@section subnav
{
    <li><a href="#get-started"><i class="icon-chevron-right"></i>Get Started</a></li>
    <li><a href="#easy-edit"><i class="icon-chevron-right"></i>Easy Edit Website</a></li>
    <li><a href="#further-functionality"><i class="icon-chevron-right"></i>Further Functionality</a></li>
}


<section>
    <div class="row">
        <div class="span7">
            <header>
                <h1>Packages</h1>
            </header>
            <p>We currently offer three packages.</p>
            <dl class="dl-horizontal">
                <dt>Get Started</dt>
                <dd>$100</dd>

                <dt>Easy Edit Website</dt>
                <dd>$250</dd>

                <dt>Further Functionality</dt>
                <dd>$50 / hour</dd>

            </dl>
        </div>
    </div>
</section>



<section id="get-started">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Get Started for $100</h1>
            </header>
            <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>Host your website.</li>
                <li><i class="icon-li icon-ok"></i>Register a domain name.</li>
                <li><i class="icon-li icon-ok"></i>Receive two hours of web development.</li>
                <li><i class="icon-li icon-ok"></i>Create a professional, single-page website.</li>
            </ul>
        </div>
    </div>
</section>

<section id="easy-edit">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Easy Edit Website</h1>
            </header>
            <p>Receive an easily editable website with two types of pages:</p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>a home page and</li>
                <li><i class="icon-li icon-ok"></i>a secondary page.</li>
            </ul>
            <p>
                What you can do is add new pages and change the text of existing pages.
                            What you cannot do is change the page layout or create new page types.
                            In some cases, you can also change the existing images and videos.
            </p>
            <p>
                If you've already bought the <a href="#get-started">Get Started</a> package, this Easy Edit Website costs an additional $250.
                            We make your existing home page easy to edit, we create a secondary page, and we teach you how to add and to change things.
            </p>
            <p>
                If you haven't already bought the Get Started package, the Easy Edit Website costs $350.
                            We will create both your home page and secondary page, make both easy to edit, and teach you how to add and to change things.
            </p>
        </div>
    </div>
</section>
<section id="further-functionality">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Further Functionality</h1>
            </header>
            <p>Businesses sometimes need more functionality, including:</p>
            <ul>
                <li>Shopping Carts</li>
                <li>Contact Forms</li>
                <li>Photo Galleries</li>
                <li>Video Players</li>
                <li>Maps, and</li>
                <li>Additional Page Types</li>
            </ul>
            <p>Please let us know what you need, and we'll create an estimate.</p>
        </div>
    </div>
</section>

