@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle() <small class="hidden-phone">- Solutions for Challenges</small></h1>

}


@section subnav
{
    <li><a href="#getting-started"><i class="icon-chevron-right"></i>Getting Started</a></li>
    <li><a href="#easy-edit"><i class="icon-chevron-right"></i>Easy 2 Edit</a></li>
    <li><a href="#advanced-work"><i class="icon-chevron-right"></i>Advanced Work</a></li>
}

<section>
    <div class="row">
        <div class="span7">
            <header>
                <h1>Packages</h1>
            </header>
            <p>We currently offer three packages.</p>
            <dl class="dl-horizontal">
                <dt>Getting Started</dt>
                <dd>$100</dd>

                <dt>Easy 2 Edit Website</dt>
                <dd>$250<sup><a href="#r1">[1]</a></sup></dd>

                <dt>Advanced Work</dt>
                <dd>$50 hourly</dd>
            </dl>
        </div>
    </div>
</section>



<section id="getting-started">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Getting Started <small>$100</small></h1>
            </header>
            <p>With this package you receive:</p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>website hosting for one year,</li>
                <li><i class="icon-li icon-ok"></i>domain name registration for one year,</li>
                <li><i class="icon-li icon-ok"></i>two hours of website development, and</li>
                <li><i class="icon-li icon-ok"></i>a professional, single-page website.</li>
            </ul>
        </div>
    </div>
</section>

<section id="easy-edit">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Easy Edit Website <small>$250<sup><a href="#r1">[1]</a></sup></small></h1>
            </header>
            <p>
                Also known as a <a href="/services#content-management">Web Content Management System</a> (CMS), 
                you receive an easy to edit website with two types of pages:
            </p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>a home page, and</li>
                <li><i class="icon-li icon-ok"></i>a secondary page.</li>
            </ul>
            <p>
                With this package, you can add new pages and change the text of existing pages.
                You cannot, however, change the page layout nor create new page types.
            </p>
            <p>
                If you've already bought the <a href="#getting-started">Getting Started</a> package, this Easy 2 Edit Website costs an additional $250.
                We make your existing home page easy to edit, we create a secondary page, and we teach you how to add and to change things.
            </p>
            <p>
                If you haven't already bought the <a href="#getting-started">Getting Started</a> package, the Easy 2 Edit Website costs $350.
                We will create both your home page and secondary page, make both easy to edit, and teach you how to add and to change things.
            </p>
        </div>
    </div>
</section>
<section id="advanced-work">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Advanced Work <small>$50 hourly</small></h1>
            </header>
            <p>Business websites sometimes need Advanced Work. This might include:</p>
            <ul>
                <li>shopping carts,</li>
                <li>contact forms,</li>
                <li>photo galleries,</li>
                <li>video players,</li>
                <li>maps, and</li>
                <li>additional page types (or templates).</li>
            </ul>
            <p>Let us know what you need, and we will create an estimate.</p>
        </div>
    </div>
</section>

<aside id="r1" class="anchor">
    <small class="text-info">[1] $250 is the cost of upgrading from the Getting Started package. 
                The cost is $350 if you are starting from scratch.</small>
</aside>
