@functions
{

}



@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle() <small class="hidden-phone">- Upcoming Muddling Thru Talks</small></h1>
}

@section subnav
{
    <li><a href="#july-2013"><i class="icon-chevron-right"></i>July 2013</a></li>
    <li><a href="#june-2013"><i class="icon-chevron-right"></i>June 2013</a></li>
}

<section>
    <div class="row">
        <div class="span7">
            <header>
                <h1>Upcoming Muddling Thru Talks</h1>
            </header>
            <p>
                Muddling Thru is sponsored by the Salt Spring Island Public Library as part of their Tech Cafe series. 
                All talks are <strong>free of charge</strong>
                and are presented at the Salt Spring Island Public Library in the Library Program Room. 
                <strong>Advanced register</strong> at the Library's information desk.
                @*TODO For information on what Muddling Thru is all about, click here.*@
            </p>
        </div>
    </div>
</section>

<section id="july-2013">
    <div class="row">
        <div class="span7">
            <header>
                <h1>July 2013</h1>
            </header>
            <div class="row-fluid">
                <div class="span8">
                    <p>
                        July 2013 Muddling Thru at Salt Spring Island Public Library - 
                <strong>Searching the Internet</strong>: Ways to Search the Internet with a Focus on Using Google. Shaun Luttin.
                    </p>
                    <!-- Modal -->
                    <p>
                        <a href="#myModal" role="button" class="btn" data-toggle="modal">View PowerPoint</a>
                    </p>
                    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-body">
                            <iframe src="https://skydrive.live.com/embed?cid=AC337C9A07F40F6F&resid=AC337C9A07F40F6F%21146&authkey=ACT8PUaT56T4rw8&em=2"
                                frameborder="0" scrolling="no"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            <button class="btn" aria-hidden="true">Full Screen</button>
                        </div>
                    </div>
                    <!-- End Modal -->
                </div>
                <div class="span4">
                    <p>
                        <a href="~/assets-10/bigfont/downloads/Poster_GoogleSearch_101.pdf">
                            <img class="img-polaroid pull-left" src="~/assets-10/bigfont/img/Poster_Search_101.PNG" /></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="june-2013">
    <div class="row">
        <div class="span7">
            <header>
                <h1>June 2013</h1>
            </header>
            <div class="row-fluid">
                <div class="span8">
                    <p>
                        June 2013 Muddling Thru at Salt Spring Island Public Library - 
                <strong>Getting on the Internet</strong>: Ways to Access the Internet with a Focus on Using a Browser. Shaun Luttin.
                    </p>
                </div>
                <div class="span4">
                    <p>
                        <a href="~/assets-10/bigfont/downloads/Poster_Internet_101.pdf">
                            <img class="img-polaroid pull-left" src="~/assets-10/bigfont/img/Poster_Internet_101.PNG" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
