h1, h1 > em, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

section header h1 small {
    // put the small on the next line
    display: block;
}

p {
    &.lead {
    }
}

.label, .badge {
    display: inline-block;
    font-size: @baseFontSize * .846;
    line-height: @baseLineHeight * .846;
    // vertical-align: baseline;
}

.contact-card * {
    line-height: 1em;
}

.error {
    color: @red;
}

span {
    text-decoration: inherit;
}

a.non-link:hover {
    cursor: default;
    text-decoration: none;
}
