@model BigFont.MVC.ViewModels.DisplayRolesViewModel

@if (Model == null)
{
    @: @ViewData.ModelMetadata.NullDisplayText
}
else
{
    <h2>Roles</h2>
    foreach (var r in Model.Roles)
    {
        <header>
            <h3>@r.Name</h3>
        </header>
        <p>
            <ul class="unstyled">
                @foreach (var userName in r.Users)
                {
                    <li>
                        <span>
                            @Html.ActionLink("Edit", "EditUser", "Account", routeValues: new { userName = userName }, htmlAttributes: null)
                        </span>
                        <span>
                            @Html.ActionLink("Delete", "DeleteUser", "Account", routeValues: new { userName = userName }, htmlAttributes: null)
                        </span>
                        <span>
                            @userName
                        </span>
                    </li>
                }
            </ul>
        </p>
    }
}
