/* bigfont variables
-------------------------------------------------- */
@navSpanX:5; // for the affix
@mainNavbarCorrection: 70px; // this ensure that the section headers and the .affix does not get hidden underneath the mainnav
@mainNavbarCorrectionTwo: -30px; // this ensure that we do not have a massive white gap between the page-title and the article
