/* sub navigation
-------------------------------------------------- */
div.affix-container
{
	// When the div's content takes on fixed positioning, the div becomes empty and thus takes up no space.
	// So, we give it min-height:1px ensure it still takes up width to hold its column.
	min-height:1px;		
}
nav#sub-nav > ul
{	
	i.icon-chevron-right 
	{ 
		float:right; 
		display:block; 
		margin-top: 12px;		
		opacity:0.25; // this is an icon; its opacity fails on IE 8; that's OK.
	}
	li
	{
		white-space:nowrap;
		a
		{
			&:hover
			{
				cursor:pointer; // for links without an href
			}
			margin-left:5px;
			padding: 10px 15px;
			border: 1px solid #e5e5e5;
		}		
		&:first-child a
		{
			.border-top-left-radius(6px);
			.border-top-right-radius(6px);
		}
		&:last-child a
		{
			.border-bottom-left-radius(6px);
			.border-bottom-right-radius(6px);
		}
		&.contact
		{
			// for the contact info icons
			i
			{
				margin-right:8px;
				margin-top:12px;	
			}

			// for the phone number
			a
			{			
				color:#40506A;
				&:hover
				{
					background:inherit;			
				}
			}			
			a.non-link:hover { cursor:default; }			
		}
		&.active > a
		{
			background:#74C4AC;
			color:@black;
		}
	}	
}

/* Before Navbar Collapses (but spans have not stacked yet)
------------------------- */
@media (min-width:981px)
{
	nav.affix
	{
		top:@mainNavbarCorrectionFixed;
	}
	div.affix-container
	{
		padding-top:@mainNavbarCorrectionFixed;				
	}
}

/* After Navbar Collapses (but spans have not stacked yet)
------------------------- */
@media (max-width:980px)
{	

	nav.affix
	{
		top:@mainNavbarCorrectionStatic;
	}
	div.affix-container
	{
		padding-top:@mainNavbarCorrectionStatic;				
	}

}

/* Before Spans Stack
------------------------- */
@media (min-width:768px)
{

}

/* After Spans Stack
------------------------- */
@media (max-width:767px)
{
	nav.affix
	{		
		position:static;		
		width:auto;
		i.icon-chevron-right 
		{ 
			display:none;			
		}
	}
	div.affix-container
	{
		padding-top:30px;
	}
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
	
	nav.affix
	{		
		.bigfont-spanX(@navSpanX, @gridColumnWidth1200, @gridGutterWidth1200);	
	}
		
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
	
	nav.affix
	{		
		.bigfont-spanX(@navSpanX, @gridColumnWidth768, @gridGutterWidth768);	
	}

}