.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:44px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#contact-card-vertical .contact-card{width:230px;}
#contact-card-vertical .contact-card-inner:last-child{margin-top:0;}
div.affix-container{min-height:1px;}
nav#sub-nav>ul{margin:0px;padding:0px;}nav#sub-nav>ul i.icon-chevron-right{float:right;display:block;margin-top:12px;opacity:0.25;}
nav#sub-nav>ul li{white-space:nowrap;}nav#sub-nav>ul li a{margin-left:5px;padding:10px 15px;border:1px solid #b3c4d4;}nav#sub-nav>ul li a:hover{cursor:pointer;background-color:#f4f7f9;}
nav#sub-nav>ul li:first-child a{-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;}
nav#sub-nav>ul li:last-child a{-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
nav#sub-nav>ul li.contact i{margin-right:8px;margin-top:12px;}
nav#sub-nav>ul li.contact a{color:#407e68;}nav#sub-nav>ul li.contact a:hover{background:inherit;}
nav#sub-nav>ul li.active>a{background:#c3d0de;color:#3a5168;}
form.contact-form{margin:0;margin-top:20px;background:#6fb59c;border:thin solid #386d5a;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}form.contact-form>*{margin-bottom:0px;}
form.contact-form fieldset{margin:17px;margin-bottom:0;}
form.contact-form .control-group{margin-bottom:10px;}
form.contact-form textarea{resize:vertical;}
form.contact-form textarea,form.contact-form input{margin-bottom:0px;}form.contact-form textarea:focus,form.contact-form input:focus{border-color:#FFD79C;outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0px 0px 2px 2px #FFD79C , 0px 0px 8px 8px #FFD79C;-moz-box-shadow:inset 0px 0px 2px 2px #FFD79C , 0px 0px 8px 8px #FFD79C;box-shadow:inset 0px 0px 2px 2px #FFD79C , 0px 0px 8px 8px #FFD79C;}
h1,h1>em,h2,h3,h4,h5,h6{font-weight:normal;color:#314457;}
p{color:#0c1116;}p.lead{color:#1e2b37;}
.contact-card *{line-height:1em;}
.error{color:#9d261d;}
span{text-decoration:inherit;}
a.non-link:hover{cursor:default;text-decoration:none;}
div.accordion{margin-top:30px;}div.accordion iframe.portfolio{height:420px;width:98%;}
div.accordion div.accordion-group h2{display:block;padding:8px 15px;}
div.accordion div.accordion-group span{display:inline-block;vertical-align:middle;margin-left:15px;}
@media (min-width:1200px){body{margin-top:95px;} div.affix-container{padding-top:95px;} nav.affix{top:95px;width:470px;} section{padding-top:95px;}}@media (min-width:981px) and (max-width:1199px){body{margin-top:95px;} div.affix-container{padding-top:95px;} nav.affix{top:95px;width:380px;} section{padding-top:95px;}}@media (max-width:980px){body{margin-top:0;} div.affix-container{padding-top:55px;} nav.affix{top:55px;width:290px;} section{padding-top:55px;}}@media (max-width:767px){nav.affix{position:static;width:auto;}nav.affix i.icon-chevron-right{display:none;} div.affix-container{padding-top:30px;} section{padding-top:30px;}}@media (min-width:1200px){}@media (max-width:980px){}@media (min-width:768px) and (max-width:980px){.contact-card{width:230px;} .contact-card-inner:last-child{margin-top:0;}}@media (max-width:768px){}@media (max-width:480px){.contact-card{width:230px;} .contact-card-inner:last-child{margin-top:0;} div.accordion .accordion-heading a{padding:5px;} div.accordion .accordion-heading span{margin-left:7px;font-size:22px;}}header,footer,hgroup,h1,h2,h3,h4,h5,h6,p,p.lead,dl,dd,dt,ul,li,aside,article{margin:0;padding:0;}
hgroup,header,footer,p,p.lead,dl,ul,aside{padding-top:30px;}
.well{margin-top:30px;margin-bottom:0;}
hgroup{display:table;width:100%;padding-left:2.5px;}hgroup h1,hgroup h2,hgroup h3,hgroup h4,hgroup h5,hgroup h6,hgroup span,hgroup em{float:left;}
section{display:table;}section header:first-child{border:none;padding-top:0;}
section dl dt{margin:20px 0;}section dl dt:first-child{margin-top:0;}
section ul{margin-left:30px;}
address dl{padding-top:0;}
footer{padding-top:100px;min-height:90px;}
.navbar ul{padding:0;}
.navbar li{line-height:40px;}
.contact-card{display:table;}
.contact-card-inner{float:left;text-align:center;width:240px;margin:9px 0;}
.contact-card-inner>*{display:inline-block;}
.multiline{margin-top:8px;margin-bottom:12px;}.multiline *{float:left;clear:both;}
.img-icon{height:75px;width:75px;}
