<section class="toc-hidden">

    @MyHelpers.BigFontTocSectionHeader(Html, "HttpContext.Current.Server.MapPath")

    <p>@HttpContext.Current.Server.MapPath("file.txt")</p>
    <p>@HttpContext.Current.Server.MapPath("/file.txt")</p>
    <p>@HttpContext.Current.Server.MapPath("~/file.txt")</p>

</section>
