@model ICollection<BigFont.MVC.Models.Project>

<div class="panel-group" id="accordion-client-list">

    @{
        int i = 0;
    }

    @foreach (var item in Model)
    {
        string uniqueID = string.Format("collapse{0}", ++i);

        <div class="panel panel-default">

            <div class="panel-heading">

                @*<img alt="todo" class="img-icon img-thumbnail img-circle pull-left" src="Images/@(item.Thumbnail).png" />*@

                <span class="panel-title"><i class="icon-asterisk">&nbsp;</i>@item.PublicName</span>
                @if (item.WebsiteUrl != null)
                {
                    <a href="http://@(item.WebsiteUrl)" target="_blank"><i class="icon-external-link">&nbsp;</i>Visit Website</a>
                }
                <a class="accordion-show" data-toggle="collapse" data-parent="#accordion-client-list" href="#@(uniqueID)">
                    <i class="icon-arrow-down">&nbsp;</i>
                    Show Website
                </a>
                <a class="accordion-hide hidden" data-toggle="collapse" data-parent="#accordion-client-list" href="#@(uniqueID)">
                    <i class="icon-arrow-up">&nbsp;</i>
                    Hide Website
                </a>


            </div>

            <div id="@uniqueID" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="caption">
                        @if (item.WebsiteUrl != null)
                        {
                            <iframe data-src="http://@(item.WebsiteUrl)">
                                <!-- Add fallback here. -->
                            </iframe>
                        }
                        <p>@item.PublicDescription</p>
                    </div>
                </div>
            </div>
        </div>

    }

</div>