@model ICollection<BigFont.MVC.Models.Project>

<div class="panel-group" id="accordion-client-list">

    @{
        int i = 0;
    }

    @foreach (var item in Model)
    {


        string uniqueID = string.Format("collapse{0}", ++i);

        <div class="panel panel-default">

            <div class="panel-heading">

                <span class="panel-title mimic-btn">
                    <i class="icon-asterisk">&nbsp;</i>
                    <a href="http://@(item.WebsiteUrl)" target="_blank">@item.PublicName</a>
                </span>

                <div class="btn-group pull-right hidden-xs">

                    @if (item.DisplayShowHideButton)
                    {
                        <a class="btn btn-default"
                           data-parent="#accordion-client-list"
                           data-toggle="collapse"
                           data-alt-attributes='{ "class": [ "btn-default", "btn-info" ], "text": [ "Show", "Hide" ] }'
                           data-alt-trigger-selector="#@(uniqueID)"
                           data-alt-trigger-event="show.bs.collapse hide.bs.collapse"
                           href="#@(uniqueID)">
                            <i class="icon-arrow-down" data-alt-attributes='{ "class": [ "icon-arrow-down", "icon-arrow-up" ] }'>&nbsp;</i>
                            Show
                        </a>
                    }

                    @if (item.DisplayVisitButton)
                    {
                        <a class="btn btn-default show-website-link" href="http://@(item.WebsiteUrl)" target="_blank"><i class="icon-external-link">&nbsp;</i>Visit</a>
                    }
                </div>

            </div>

            <div id="@uniqueID" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>

                        <div class="alert alert-info">
                            <p>@item.PublicDescription</p>
                        </div>

                        @if (item.WebsiteUrl != null)
                        {
                            <iframe class="well well-sm" data-src="http://@(item.WebsiteUrl)">
                                <!-- Add fallback here. -->
                            </iframe>
                        }
                    </div>
                </div>
            </div>
        </div>

    }

</div>
