@model string

<div class="row">

    <div class="col-md-4">
        <p>

            @if (Model.Equals("shaun"))
            {
                <img alt="Shaun Luttin has short to medium length brown hair. He is wearing a blue pin-striped shirt and is standing, smiling, in front of a window."
                     class="img-thumbnail img-circle" src="Images/shaun200x200.png"
                     title="Headshot of Shaun Luttin" />
            }
            else if (Model.Equals("tony"))
            {
                <img alt="Tony Edwards is wearing a gray and dark blue textured flat cap, thin rimmed glasses, a white t-shirt, and has black-gray hair. He is casually smiling with an astute look and is sitting in on a maroon couch."
                     class="img-thumbnail img-circle" src="Images/tony200x200.png" title="Headshot of Tony Edwards" />
            }
            else if (Model.Equals("cindy"))
            {
                <img alt="A black and white drawing of a female lifting a barbell above her head."
                     class="img-thumbnail img-circle" src="Images/cindy200x200.png" title="Cartoon representation of Cindy Jacobsen" />
            }

        </p>
    </div>

    <div class="col-md-8">
        <h2>

            @if (Model.Equals("shaun"))
            {
                <a class="multiline" href="mailto:shaun@bigfont.ca">
                    @Html.Raw("<span>shaun@</span><span>bigfont.ca</span>")
                </a>
            }
            else if (Model.Equals("tony"))
            {
                <a class="multiline" href="mailto:tony@bigfont.ca">
                    @Html.Raw("<span>tony@</span><span>bigfont.ca</span>")
                </a>
            }
            else if (Model.Equals("cindy"))
            {
                <a class="multiline" href="mailto:cindy@bigfont.ca">
                    @Html.Raw("<span>cindy@</span><span>bigfont.ca</span>")
                </a>
            }

        </h2>
        <p>

            @if (Model.Equals("shaun"))
            {

                <img alt="Shaun is both a Microsoft Certified Technology Specialist and a Microsoft Certified Professional Developer"
                     class="img-thumbnail img-rounded" src="Images/shaun_contact_card_etc_1_100x75.jpg"
                     title="Microsoft Certified Professional Developer Logo" />
                    <img alt="" class="img-thumbnail img-rounded" src="Images/shaun_contact_card_etc_2_100x75.jpg"
                         title="Microsoft Certified Technology Specialist Logo" />
            }
            else if (Model.Equals("tony"))
            {
                <img alt="A painting of a buffalo head." class="img-thumbnail img-rounded" src="Images/tony_contact_card_etc_1_100x75.jpg"
                     title="Buffalo Head Painting" />
                    <img alt="A cave-art styling painting of a hunter and a herd of buffalo." class="img-thumbnail img-rounded" src="Images/tony_contact_card_etc_2_100x75.jpg"
                         title="Cave Art Buffalo Hunt" />
            }
            else if (Model.Equals("cindy"))
            {

                <img alt="Several pencil crayons are in a cirlce." class="img-thumbnail img-rounded" src="Images/cindy_contact_card_etc_2_100x75.jpg"
                     title="A circle of pencil crayons." />
                        <img alt="A cartoon penguin is posing with a pallete, paintbrush, and apron." class="img-thumbnail img-rounded" src="Images/cindy_contact_card_etc_1_100x75.jpg"
                             title="A penguin artist :)" />
            }

        </p>
    </div>

</div>