@model ICollection<BigFont.MVC.Models.Project>

<div class="panel-group" id="accordion-client-list">

    @{
        int i = 0;
    }

    @foreach (var item in Model)
    {
        string uniqueID = string.Format("collapse{0}", ++i);

        <div class="panel panel-default">

            <div class="panel-heading">

                @*<img alt="todo" class="img-icon img-thumbnail img-circle pull-left" src="Images/@(item.Thumbnail).png" />*@

                <span class="panel-title">@item.PublicName</span>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-client-list" href="#@(uniqueID)">Show Website</a>

                @if (item.WebsiteUrl != null)
                {
                    <a href="http://@(item.WebsiteUrl)" target="_blank">Visit Website</a>
                }

            </div>

            <div id="@uniqueID" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="caption">
                        @if (item.WebsiteUrl != null)
                        {
                            <iframe data-src="http://@(item.WebsiteUrl)">
                                <!-- Add fallback here. -->
                            </iframe>
                        }
                        <p>@item.PublicDescription</p>
                    </div>
                </div>
            </div>
        </div>

    }

</div>