@model ICollection<BigFont.MVC.Models.Project>

<div class="accordion" id="accordionClientList">
    <div class="accordion-group">
        <h2>Projects</h2>
    </div>

    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        string uniqueID = string.Format("collapse{0}", ++i);
        
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionClientList" href="#@(uniqueID)">
                    <img class="img-icon img-polaroid img-circle" src="Images/@(item.Thumbnail).png" /><span>@item.PublicName</span>
                </a>
            </div>
            <div id="@uniqueID" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="caption">
                        @if (item.WebsiteUrl != null)
                        { 
                            <iframe class="portfolio img-polaroid" data-src="http://@(item.WebsiteUrl)"></iframe>
                            <div class="portfolio portfolio-loading img-polaroid">
                                Loading website:    
                                        <div class="progress progress-striped active">
                                            <div class="bar" style="width: 100%;"></div>
                                        </div>
                            </div>
                        }
                        else
                        {
                            <div class="portfolio img-polaroid">
                                <img src="Images/@(item.Image).png" />
                            </div>
                        }
                        <p>@item.PublicDescription</p>
                        <p>
                            <div class="btn-group">
                                @if (item.WebsiteUrl != null)
                                { 
                                    <a class="btn" href="http://@(item.WebsiteUrl)" target="_blank">Visit Site</a>                        
                                }
                                else
                                {
                                    <a class="btn disabled">Private</a>                        
                                }
                                <a class="btn" data-toggle="collapse" data-parent="#accordionClientList" href="#@(uniqueID)">Close</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }