@model ICollection<BigFont.MVC.Models.Project>

<div class="panel-group" id="accordionClientList">
    <div class="panel panel-default">
        <h2>Websites</h2>
    </div>

    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        string uniqueID = string.Format("collapse{0}", ++i);

        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionClientList" href="#@(uniqueID)">
                    <img alt="todo" class="img-icon img-polaroid img-circle" src="Images/@(item.Thumbnail).png" /><span>@item.PublicName</span>
                </a>
            </div>
            <div id="@uniqueID" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="caption">
                        @if (item.WebsiteUrl != null)
                        {
                        <iframe class="portfolio img-thumbnail" data-src="http://@(item.WebsiteUrl)">
                            <script>
                                    $('iframe').ready(function () {
                                        alert('loaded');
                                    });
                            </script>
                        </iframe>
                        <div class="portfolio portfolio-loading img-thumbnail">
                            Loading website:
                            <div class="progress progress-striped active">
                                <div class="bar" style="width: 100%;"></div>
                            </div>
                        </div>
                        }
                        else
                        {
                        <div class="portfolio img-thumbnail">
                            <img alt="todo" src="Images/@(item.Image).png" />
                        </div>
                        }
                        <p>@item.PublicDescription</p>
                        <div>
                            <div class="btn-group">
                                @if (item.WebsiteUrl != null)
                                {
                                <a class="btn btn-default" href="http://@(item.WebsiteUrl)" target="_blank">Visit Site</a>
                                }
                                else
                                {
                                <a class="btn btn-default disabled">Private</a>
                                }
                                <a class="btn btn-default" data-toggle="collapse" data-parent="#accordionClientList" href="#@(uniqueID)">Close</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>