@model Google.Apis.Analytics.v3.Data.GaData

@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}


<section class="toc-ignore-section">

    <header>
        <h1>Simplified Google Analytics</h1>
    </header>
    
    @foreach(var header in Model.ColumnHeaders)
    {
        <span>header.ToString()</span>
    }

</section>
