@model Google.Apis.Analytics.v3.Data.GaData

@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}


<section class="toc-hidden">

    <header>
        <h1>Simplified Google Analytics</h1>
    </header>

    <p>
        @Html.Partial("_GaTable", Model)
    </p>

</section>
