@{
    ViewBag.Title = "GoogleAnalytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}


<section class="toc-ignore-section">

    <header>
        <h1>Simple Google Analytics</h1>
    </header>

    <!-- The 2 Buttons for the user to interact with -->
    <button class="btn" id="authorize-button" style="visibility: hidden">Authorize</button><br />
    <button class="btn" id="make-api-call-button" style="visibility: hidden">Get Visits</button>

    <div id="ga-results"></div>

    <p>This section is under construction.</p>
    <p>Todo:</p>
    <ul>
        <li>Make this page load in HTTPS because the Google API auth requires that.</li>
        <li>Upgrade the website to Bootstrap 3.</li>
        <li>Do the data binding for Analytics with AngularJS.</li>
        <li>Display the frequency at which specific browsers (e.g. Firefox) have visited the site. <span class="label label-success">Done.</span></li>        
    </ul>

    <p>See:</p>
    <ul>
        <li><a href="https://developers.google.com/analytics/solutions/articles/hello-analytics-api">Hello Analytics Example</a></li>
        <li><a href="https://cloud.google.com/console#/project">Google Cloud Console</a></li>
        <li><a href="http://www.google.com/analytics/">Google Analytics Website</a></li>
    </ul>

</section>

<!-- These JavaScript files will be created later on in the tutorial -->
<script src="~/Content/google-apis/analytics.js"></script>
<script src="~/Content/google-apis/analytics-auth.js"></script>

<!-- Load the Client Library. Use the onload parameter to specify a callback function -->
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
