@model Google.Apis.Analytics.v3.Data.GaData

<section class="toc-hidden">

    <header>
        <h1>Simplified Google Analytics</h1>
    </header>

    <p>
        @Html.Partial("_GaTable", Model)
    </p>

</section>
