@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}


<section class="toc-ignore-section">

    <header>
        <h1>Simplified Google Analytics</h1>
    </header>

    <!-- The 2 Buttons for the user to interact with -->
    <button class="btn" id="authorize-button" style="visibility: hidden">Authorize</button><br />
    <button class="btn" id="make-api-call-button" style="visibility: hidden">Get Visits</button>

    <div id="ga-results"></div>

    <p>This section is under construction. Todo:</p>
    <ul>
        <li>Make the Analytics page load in HTTPS because the Google API auth requires that. <span class="label label-success">Done.</span></li>
        <li>Upgrade the website to Bootstrap 3 because it's more modern.</li>
        <li>Do the data binding for analytics with AngularJS because it's more powerful than jQuery and it's more modern.</li>
        <li>Display date range for analytics statistics because the data is somewhat meaningless without that. <span class="label label-success">Done.</span></li>
        <li>Display total visits because that is an interesting marketing statistic. <span class="label label-success">Done.</span></li>
        <li>Display visits by viewport size because this will inform UI design decisions.</li>
        <li>Display visits by browser because this will inform UI design decisions. <span class="label label-success">Done.</span></li>
        <li>Allow an <i>optional</i> drill down into visits by browser version because this will inform UI design decisions.</li>
        <li>Enable interested BigFont website clients to login because then they can view their Analytics.</li>
        <li>Enable BigFont.ca Google Analytics admin to login because this is a test case for the BigFont clients. <span class="label label-success">Done.</span></li>
    </ul>

    <p>See:</p>
    <ul>
        <li><a href="https://developers.google.com/analytics/solutions/articles/hello-analytics-api">Hello Analytics Example</a></li>
        <li><a href="https://cloud.google.com/console#/project">Google Cloud Console</a></li>
        <li><a href="http://www.google.com/analytics/">Google Analytics Website</a></li>
    </ul>

</section>

<!-- These JavaScript files will be created later on in the tutorial -->
<script src="~/Content/google-apis/analytics.js"></script>
<script src="~/Content/google-apis/analytics-auth.js"></script>

<!-- Load the Client Library. Use the onload parameter to specify a callback function -->
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
