@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}


<section class="toc-ignore-section">

    <header>
        <h1>Simplified Google Analytics</h1>
    </header>

    <!-- The 2 Buttons for the user to interact with -->
    <button class="btn" id="authorize-button" style="visibility: hidden">Authorize</button><br />
    <button class="btn" id="make-api-call-button" style="visibility: hidden">Get Visits</button>

    <div id="ga-results"></div>

    <p>This section is under construction. Todo:</p>
   
</section>
