<section id="conjuring-club">
    <header><h1>Conjuring Club</h1></header>
    <div class="row">
        <div class="col-md-8">
            <p>Join us to learn sleight-of-hand at the Salt Spring Island Public Library.</p>
        </div>
        <div class="col-md-4">
            <p>
                <img alt="todo" class="img-thumbnail img-rounded pull-left" src="~/Images/Poster_SaltSpringConjuringClub.png" />
            </p>
        </div>
    </div>
</section>

<section id="computer-tutoring">
    <header><h1>Computer Tutoring</h1></header>
    <div class="row">
        <div class="col-md-8">
            <p>Join us to learn computer skills at the Salt Spring Island Public Library.</p>
        </div>
        <div class="col-md-4">
            <p>
                <img alt="todo" class="img-thumbnail img-rounded" src="~/Images/Poster_Tutoring.PNG" />
            </p>
        </div>
    </div>
</section>