@{

    ViewBag.MetaDescription = "BigFont provides the following free community services on Salt Spring Island.";
    ViewBag.MetaKeywords = "magic, computers, tutoring, salt spring, salt spring island";
    ViewBag.Title = "BigFont.ca | Community";
}

<section id="conjuring-club">
    @MyHelpers.BigFontTocSectionHeader(Html, "Conjuring Club")
    <div class="row">
        <div class="col-md-8">
            <p>Join us to learn sleight-of-hand at the Salt Spring Island Public Library.</p>
        </div>
        <div class="col-md-4">
            <p>
                <img alt="todo" class="img-thumbnail img-rounded pull-left" src="~/Images/Poster_SaltSpringConjuringClub.png" />
            </p>
        </div>
    </div>
</section>

<section id="computer-tutoring">
    @MyHelpers.BigFontTocSectionHeader(Html, "Computer Tutoring")
    <div class="row">
        <div class="col-md-8">
            <p>Join us to learn computer skills at the Salt Spring Island Public Library.</p>
        </div>
        <div class="col-md-4">
            <p>
                <img alt="todo" class="img-thumbnail img-rounded" src="~/Images/Poster_Tutoring.PNG" />
            </p>
        </div>
    </div>
</section>