@{ 

    ViewBag.MetaDescription = "Welcome to BigFont.ca! We provide web and technical solutions.";
    ViewBag.MetaKeywords = "website, website development, website design, technical support, software, ebook, salt spring, salt spring island, computers, internet";
    ViewBag.Title = "BigFont.ca | Home";
}

<section>

    @MyHelpers.BigFontTocSectionHeader(Html, "About Us")

    <p>
        <strong>BigFont.ca</strong> is a technology and web solutions provider. Our clients vary among local residents through to small and medium-sized businesses anywhere.
    </p>

    <p>BigFont.ca provides the following products & services:</p>
    <ul class="icons-ul">
        <li><i class="icon-li icon-tag"></i>rich internet applications;</li>
        <li><i class="icon-li icon-tag"></i>business software;</li>
        <li><i class="icon-li icon-tag"></i>e-book publishing;</li>
        <li><i class="icon-li icon-tag"></i>website development; and</li>
        <li><i class="icon-li icon-tag"></i>technical support.</li>
    </ul>

    <p>
        For a complete list of services, click <a href="/services">here</a>, to view our packages click <a href="/packages">here</a>, and for examples of our work click <a href="#website-portfolio">here</a>.
    </p>

    <hr />

    <p>In 2015 Shaun Luttin, principal and technology lead at BigFont, received Microsoft's Most Valuable Professional (MVP) Award.</p>

    <div class="recognition">
        <img alt="We are recipients of the Microsoft MVP Award." src="~/Images/microsoft-mvp-award-portrait.jpg" />
    </div>

</section>

<section>

    @MyHelpers.BigFontTocSectionHeader(Html, "Website Portfolio")

    <p>BigFont built the following websites and also manages their hosting and DNS records.</p>

    <div class="collapse-container">
        @Html.Partial("_BigFontAccordionIFrame")
    </div>

</section>
