@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle() <small class="hidden-phone">- Web & Technology Resources</small></h1>

}


@section subnav
{


}





<section id="web-dev-tools">

            <header>
                <h1>Online Tools</h1>
            </header>
            <p>Are you building a website yourself?</p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.shopify.com/?ref=bigfont">Shopify</a>
                    <span>Canada's leading ecommerce website solution that includes everything you need to run an online store.</span>
                </li>
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.getpaint.net/redirect/getpdn.html">Paint.NET</a>
                    <span>Paint.NET is a free alternative to Photoshop.</span></li>
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a>
                    <span>This responsive framework is free from Twitter.</span></li>
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.orchardproject.net/">Orchard CMS</a>
                    <span>Microsoft backs this free content management system.</span></li>
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.jslint.com/">jsLint</a>
                    <span>This free tool is like a spellcheck for your JavaScript.</span>
                </li>
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://validator.w3.org/">Markup Validation Service</a>
                    <span>Check the markup (HTML, XHTML, …) of Web documents.</span>
                </li>
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://validator.w3.org/checklink">Link Checker</a>
                    <span>Check links and anchors in Web pages or full Web sites.</span></li>
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://developers.whatwg.org/">HTML: The Living Standard</a>
                    <span>An authoritative technical guide to HTML.</span>
                </li>
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://cssfontstack.com/">CSS Font Stack</a>
                    <span>Choose the font that you want.</span>
                </li>
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.convertcase.net/">Convert Case</a>
                    <span>Convert uppercase to lowercase or visa versa.</span></li>
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://mxtoolbox.com/">MX Toolbox</a>
                    <span>Investigate the DNS settings of any website.</span></li>
                <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.namespro.ca/">Namespro</a>
                    <span>Check the availability of your prefered domain name. Then buy it.</span></li>
            </ul>

</section>


@*<section id="web-designers">
    <div class="row">
        <div class="span7">
            <header>
                <h1>Web Site Designers</h1>
            </header>
            <p>Want to compare web site development companies?</p>
            <ul>
                <li><a href="http://www.imaginethatgraphics.ca/" target="_blank">Imagine That Graphics</a></li>
                <li><a href="http://www.kmaxmultimedia.com" target="_blank">KMAX Multimedia</a></li>
                <li><a href="http://www.floatingworld.ca" target="_blank">Floating World</a></li>
                <li><a href="http://www.ravenisle.com" target="_blank">Raven Isle</a></li>
                <li><a href="http://www.sky-valley-web-design.com/" target="_blank">Sky Valley Web Design</a></li>
                <li><a href="http://www.malcolmdesign.com/" target="_blank">Malcolm Design</a></li>
                <li><a href="http://www.bibbycommunications.ca" target="_blank">Bibby Communications</a></li>
                <li><a href="http://www.christinaheinemanndesign.ca/" target="_blank">Christina Heinemann Design</a></li>
                <li><a href="http://www.mobiuscommunications.com/" target="_blank">Mobius Communications</a></li>
                <li><a href="http://www.bytesizedwebsites.com" target="_blank">Byte Sized Websites</a></li>
            </ul>
        </div>
    </div>
</section>*@


<section id="local-services">
    <header>
        <h1>Local Services</h1>
    </header>
    <ul class="icons-ul">
        <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.saltspringcomputer.com/">Salt Spring Computer</a>. Computer <em>hardware</em> repairs.</li>        
        <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.yellowpages.ca/bus/British-Columbia/Salt-Spring-Island/Orca-Electronics/6092219.html">Orca Electronics</a>. Computer <em>hardware</em> and electronics sales.</li>
        <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.yelp.ca/biz/electronic-ark-salt-spring-island">Electronic Arc</a>. Windows computer sales and servicing.</li>
        <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.johncameron.ca/">John Cameron</a>. Second to none local photographer.</li>        
        <li><i class="icon-li icon-external-link-sign"></i><a href="http://hellosaltspring.com/">Hello Salt Spring</a>. Comprehensive directory of things to do on the island.</li>
    </ul>

</section>

<section id="nerd-websites">
    <header>
        <h1>Nerd Websites</h1>
    </header>
    <p>Some websites that make you a nerd if you like them.</p>
    <ul class="icons-ul">
        <li><i class="icon-li icon-external-link-sign"></i><a href="http://cat-v.org/">Cat-v</a>
            <span>We really like the programming quotes section.</span></li>
    </ul>
</section>


