
<section id="web-dev-tools">

    @MyHelpers.BigFontTocSectionHeader(Html, "Online Tools")
    <p>Are you building a website yourself?</p>
    <ul class="icons-ul">
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://www.shopify.com/?ref=bigfont">Shopify</a>
            <span>Canada's leading ecommerce website solution that includes everything you need to run an online store.</span>
        </li>
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://www.getpaint.net/redirect/getpdn.html">Paint.NET</a>
            <span>A free Photoshop alternative.</span>
        </li>
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a>
            <span>This responsive framework is free from Twitter.</span>
        </li>
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://www.orchardproject.net/">Orchard CMS</a>
            <span>Microsoft backs this free content management system.</span>
        </li>
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://www.jslint.com/">jsLint</a>
            <span>This free tool is like a spellcheck for your JavaScript.</span>
        </li>
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://jsonlint.com">jsonLint</a>
            <span>This free tool is like a spellcheck for your Javascript Object Notation (JSON).</span>
        </li>
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://www.w3.org/QA/Tools/">W3 Quality Assurance Tools</a>
            <span>Check the markup (HTML, XHTML, …) and other aspects of Web documents.</span>
        </li>
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://developers.whatwg.org/">HTML: The Living Standard</a>
            <span>An authoritative technical guide to HTML.</span>
        </li>
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://cssfontstack.com/">CSS Font Stack</a>
            <span>Choose the font that you want.</span>
        </li>
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://www.convertcase.net/">Convert Case</a>
            <span>Convert uppercase to lowercase or visa versa.</span>
        </li>
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://mxtoolbox.com/">MX Toolbox</a>
            <span>Investigate the DNS settings of any website.</span>
        </li>
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://www.namespro.ca/">Namespro</a>
            <span>Check the availability of your prefered domain name. Then buy it.</span>
        </li>
    </ul>

</section>


<section id="local-services">
    @MyHelpers.BigFontTocSectionHeader(Html, "Local Services")
    <ul class="icons-ul">
        <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.saltspringcomputer.com/">Salt Spring Computer</a>. Computer <em>hardware</em> repairs.</li>
        <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.yellowpages.ca/bus/British-Columbia/Salt-Spring-Island/Orca-Electronics/6092219.html">Orca Electronics</a>. Computer <em>hardware</em> and electronics sales.</li>
        <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.yelp.ca/biz/electronic-ark-salt-spring-island">Electronic Arc</a>. Windows computer sales and servicing.</li>
        <li><i class="icon-li icon-external-link-sign"></i><a href="http://www.johncameron.ca/">John Cameron</a>. Second to none local photographer.</li>
        <li><i class="icon-li icon-external-link-sign"></i><a href="http://hellosaltspring.com/">Hello Salt Spring</a>. Comprehensive directory of things to do on the island.</li>
    </ul>

</section>

<section id="nerd-websites">
    @MyHelpers.BigFontTocSectionHeader(Html, "Nerd Websites")
    <p>Some websites that make you a nerd if you like them.</p>
    <ul class="icons-ul">
        <li>
            <i class="icon-li icon-external-link-sign"></i><a href="http://cat-v.org/">Cat-v</a>
            <span>We really like the programming quotes section.</span>
        </li>
    </ul>
</section>


