
<section id="presentations" class="toc-hidden">

    @MyHelpers.BigFontTocSectionHeader(Html, "Presentations, Workshops, and Lectures")

    <p>
        BigFont Technology offers a wide variety of public talks, workshops, and training programs for the public and for software professionals. All presentations are made by staff or affiliates of BigFont. Read on for details, upcoming presentations and past events.
    </p>

</section>

<section id="professional-development">

    @MyHelpers.BigFontTocSectionHeader(Html, "For Professionals")
    <p>
        We provide training for software professionals on a variety of topics, including the usage of JavaScript and CSS frameworks, the development of web applications in ASP.NET MVC with C#, and the leveraging of Windows Azure cloud services.
    </p>

    <section id="dec-2013" class="toc-hidden">

        <header>
            <h3>Dec 2013</h3>
        </header>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a href="http://www.devteach.com/Speaker.aspx#12891">
                        <img alt="todo" class="img-thumbnail" src="~/Images/Poster_Devteach_2013.PNG" />
                    </a>
                </p>
                <p>
                    Dec 2013 DevTeach conference in Vancouver -
                    This session takes a step-by-step approach to introduce essentials of AngularJS with the MVC design pattern. Topics include set-up, developing professional looking Angular templates, automating data binding and fetching, routing, event handling, and more. Pat McGee and Shaun Luttin.
                </p>
                <!-- Modal -->
                <p>
                    <a href="http://www.devteach.com" class="btn btn-default">
                        <i class="icon-external-link">&nbsp;</i>Website
                    </a>
                </p>
            </div>
        </div>

    </section>

</section>


<section id="muddling-thru">

    @MyHelpers.BigFontTocSectionHeader(Html, "For the Public <small>Muddling Thru Talks</small>")
    <p>
        Muddling Thru is sponsored by the <a href="http://saltspring.bclibrary.ca/">Salt Spring Island Public Library</a> as part of their tech cafe series.
    </p>
    <p>
        <img alt="todo" class="img-thumbnail" src="~/Images/salt-spring-library-building-01.png" />
    </p>
    <p>
        All talks are <strong>free of charge</strong> and are presented at the Salt Spring Island Public Library in the Library Program Room.
        <strong>Advanced register</strong> at the Library's information desk.
        @*TODO For information on what Muddling Thru is all about, click here.*@
    </p>

    <section id="march-2014" class="toc-hidden">

        <header>
            <h3>March 2014</h3>
        </header>

        <div class="row">
            <div class="col-md-8">
                <p>Back by popular demand! <strong>Intro to Windows 8:</strong> Understand the new layout and metro mode; learn key locations and navigation skills; backup your data and minimize viruses.</p>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="~/Images/Poster_Windows8_101_Mar2014.png">
                        <img alt="todo" class="img-thumbnail pull-left" src="~/Images/Poster_Windows8_101_Mar2014.PNG" />
                    </a>
                </p>
            </div>
        </div>

    </section>

    <section id="january-2014" class="toc-hidden">

        <header>
            <h3>January 2014</h3>
        </header>

        <div class="row">
            <div class="col-md-8">
                <p><strong>Intro to Windows 8:</strong> Understand the new layout and metro mode; learn key locations and navigation skills; backup your data and minimize viruses.</p>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="~/Images/Poster_Windows8_101_Jan2014.png">
                        <img alt="todo" class="img-thumbnail pull-left" src="~/Images/Poster_Windows8_101_Jan2014.PNG" />
                    </a>
                </p>
            </div>
        </div>

    </section>

    <section id="july-2013" class="toc-hidden">

        <header>
            <h3>July 2013</h3>
        </header>
        <div class="row">
            <div class="col-md-8">
                <p>
                    July 2013 Muddling Thru at Salt Spring Island Public Library -
                    <strong>Searching the Internet</strong>: Ways to Search the Internet with a Focus on Using Google. Shaun Luttin.
                </p>
                <!-- Modal -->
                <p>
                    <a href="https://skydrive.live.com/embed?cid=AC337C9A07F40F6F&resid=AC337C9A07F40F6F%21148&authkey=AA-wqxXq6GwrzYU&em=2" class="btn btn-default">
                        <i class="icon-external-link">&nbsp;</i>PowerPoint
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="~/Permalinks/Poster_GoogleSearch_101.pdf">
                        <img alt="todo" class="img-thumbnail pull-left" src="~/Images/Poster_Search_101.PNG" />
                    </a>
                </p>
            </div>
        </div>

    </section>

    <section id="month-year" class="toc-hidden">

        @{
            // todo add using statement
            BigFont.MVC.ViewModels.PresentationViewModel p =
                new BigFont.MVC.ViewModels.PresentationViewModel(
                    "June",
                    "2014",
                    "Getting on the Internet",
                    "Ways to Access the Internet with a Focus on Using a Browser.",
                    "Shaun Luttin",
                    @"https://skydrive.live.com/embed?cid=AC337C9A07F40F6F&resid=AC337C9A07F40F6F%21146&authkey=ACT8PUaT56T4rw8&em=2",
                    "Poster_Internet_101");
        }

        @Html.Partial("_Presentation", p)

    </section>




    <section id="june-2013" class="toc-hidden">

        <header>
            <h3>June 2013</h3>
        </header>
        <div class="row">
            <div class="col-md-8">
                <p>
                    June 2013 Muddling Thru at Salt Spring Island Public Library -
                    <strong>Getting on the Internet</strong>: Ways to Access the Internet with a Focus on Using a Browser. Shaun Luttin.
                </p>
                <p>
                    <a href="https://skydrive.live.com/embed?cid=AC337C9A07F40F6F&resid=AC337C9A07F40F6F%21146&authkey=ACT8PUaT56T4rw8&em=2" class="btn btn-default">
                        <i class="icon-external-link">&nbsp;</i>PowerPoint
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="~/Permalinks/Poster_Internet_101.pdf">
                        <img alt="todo" class="img-thumbnail pull-left" src="~/Images/Poster_Internet_101.PNG" />
                    </a>
                </p>
            </div>
        </div>

    </section>

</section>





