@{

    ViewBag.MetaDescription = "BigFont charges the following rates for website development, website design, and technical support on Salt Spring Island.";
    ViewBag.MetaKeywords = "web, website, web development, web design, technology, technical support, internet, computers, salt spring, salt spring island";
    ViewBag.Title = "BigFont.ca | Rates";
}

<section>

    @MyHelpers.BigFontTocSectionHeader(Html, "Rate Structure")
    <p class="lead">
        Our rate is $62.50 per hour (or part thereof)
    </p>
    <p>
        <strong>The rate covers productive work.</strong>
    </p>
    <p>
        If the nature of your project requires a learning period, before or during the project
        execution, we will not bill for the time spent learning. For example: A website
        building project consumed 39 hours overall but included 7.5 hours of learning. The
        resulting billing was for 31.5 hours.
    </p>
    <p>
        <strong>The hourly rate is standard for all technical projects.</strong> It applies to:
    </p>
    <ul class="icons-ul">
        <li><i class="icon-li icon-tag"></i>rich internet applications;</li>
        <li><i class="icon-li icon-tag"></i>business software;</li>
        <li><i class="icon-li icon-tag"></i>e-book publishing;</li>
        <li><i class="icon-li icon-tag"></i>website development; and</li>
        <li><i class="icon-li icon-tag"></i>technical support.</li>
    </ul>
    <p>Marketing consulting rates will be quoted separately.</p>

</section>

<section>

    @MyHelpers.BigFontTocSectionHeader(Html, "Cancellations")
    <p class="lead">
        Cancellations require 24-hours notice
    </p>
    <p>Life happens. Please contact us 24-hours in advance by phone or email. That way we can waive our fee and fill our schedule with paying tasks.</p>

</section>

<section>

    @MyHelpers.BigFontTocSectionHeader(Html, "Missed Appointments")
    <p class="lead">
        We invoice missed appointments at $62.50 per hour (or part thereof)
    </p>
    <p>
        For instance, if we have scheduled two hours of work, and you are a no-show, we will invoice you for $125.
    </p>
    <p>No one likes this. Please try to avoid missed appointments. That way you can receive services and we can pay the mortgage.</p>

</section>

<section>

    @MyHelpers.BigFontTocSectionHeader(Html, "Payment")
    <p class="lead">
        Big Font offers several payment options
    </p>
    <ul>
        <li>traditional check or cash</li>
        <li>e-mail money transfer</li>
        <li>PayPal</li>
        <li>credit card</li>                                
    </ul>
</section>
