<section id="rates">

    @MyHelpers.BigFontTocSectionHeader(Html, "Rate Structure")
    <p class="lead">
        Our hourly rate is $50.00
    </p>
    <p>
        <strong>The rate covers productive work.</strong>
    </p>
    <p>
        If the nature of your project requires a learning period, before or during the project
        execution, we will not bill for the time spent learning. For example: A website
        building project consumed 39 hours overall but included 7.5 hours of learning. The
        resulting billing was for 31.5 hours.
    </p>
    <p>
        <strong>The hourly rate is standard for all technical projects.</strong> It applies to:
    </p>
    <ul class="icons-ul">
        <li><i class="icon-li icon-tag"></i>rich internet applications;</li>
        <li><i class="icon-li icon-tag"></i>business software;</li>
        <li><i class="icon-li icon-tag"></i>e-book publishing;</li>
        <li><i class="icon-li icon-tag"></i>website development; and</li>
        <li><i class="icon-li icon-tag"></i>technical support.</li>
    </ul>
    <p>Marketing consulting rates will be quoted separately.</p>

</section>

<section>

    @MyHelpers.BigFontTocSectionHeader(Html, "Cancellations")
    <p class="lead">
        Cancellations require 24-hours notice
    </p>
    <p>Life happens. Please contact us 24-hours in advance by phone or email. That way we can waive our fee and fill our schedule with paying tasks.</p>

</section>

<section id="missed-appointments">

    @MyHelpers.BigFontTocSectionHeader(Html, "Missed Appointments")
    <p class="lead">
        We invoice missed appointments at $50/hour
    </p>
    <p>
        For instance, if we have scheduled two hours of work, and you are a no-show, we will invoice you for $100.
    </p>
    <p>No one likes this. Please try to avoid missed appointments. That way you can receive services and we can pay the mortgage.</p>

</section>