@section header
{
    <h1>Thank You</h1>
}

@section subnav
{


}

<section>

    <header>

        <h1>Thank You</h1>

    </header>

    <p>Your task is complete.</p>

    @*https://www.bigfont.ca/thankyou#access_token=Mdjuvrhy-0MAAAAAAAAAAaoeQJ4hIoHLWJq2OOU2iPoiX2nL0O-6xnkYhngYneZm&token_type=bearer&uid=236414095*@

    <div id="hash-values"></div>

    <script type="text/javascript">

        $(function () {
                
            var split;
            var innerSplit;
            var label;
            var input;

            hash = window.location.hash.replace("#", "");
            split = hash.split("&");

            for(var i = 0; i < split.length; ++i)
            {
                innerSplit = split[i].split("=");

                label = $("<label />", { text: innerSplit[0] });
                input = $("<input />", { val: innerSplit[1] });

                $("div#hash-values")
                    .append(label)
                    .append(input);
            }

        });

    </script>

</section>


