@section header
{
    <h1>Thank You</h1>
}

@section subnav
{


}

<section>

    <header>

        <h1>Thank You</h1>

    </header>

    <p>Your task is complete.</p>

    @{
            

    }
    
    <p>@Request.Url.AbsoluteUri</p>
    @foreach(string s in Request.Url.AbsoluteUri.Split(new char[] { '#', '&' }))
    {
        <p>s</p>
    }

</section>

