@section header
{
    <h1>Thank You</h1>
}

@section subnav
{


}

<section>

    <header>

        <h1>Thank You</h1>

    </header>

    <p>Your task is complete.</p>

    @{

        string postHash = Request.RawUrl.Substring(Request.RawUrl.IndexOf('#'));

        //https://www.bigfont.ca/thankyou#access_token=Mdjuvrhy-0MAAAAAAAAAAaoeQJ4hIoHLWJq2OOU2iPoiX2nL0O-6xnkYhngYneZm&token_type=bearer&uid=236414095

    }

    <p>@postHash</p>

</section>

