@section header
{
    <h1>Thank You</h1>
}

@section subnav
{


}

<section>

    <header>

        <h1>Thank You</h1>

    </header>

    <p>Your task is complete.</p>

    @{

        string postHash = Request.RawUrl.Substring(Request.RawUrl.IndexOf("#"));        

    }

    <p>@postHash</p>

</section>

