@section header
{
    <h1>Thank You</h1>
}

@section subnav
{


}

<section>

    <header>

        <h1>Thank You</h1>

    </header>

    <p>Your task is complete.</p>

    @{
            

    }

    <p>@Request.RawUrl</p>    

</section>

