@using System.Collections.Specialized
@using System.Configuration

<section class="toc-hidden">

    <header>
        <h1>App Settings</h1>
    </header>    

    @{
        NameValueCollection appSettings = ConfigurationManager.AppSettings;
    }
    <dl>
        @foreach (string name in appSettings)
        {
            <dt>@name</dt>
            <dd>@appSettings[name]</dd>
        }
    </dl>

</section>