@model BigFont.MVC.ViewModels.CreateUserViewModel

@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}

<section>
    
    <header>
        <h2>Create User</h2>
    </header>
    <p>
        @Html.EditorForModel()
    </p>

</section>