@section header
{
    <h1>@Html.MvcSiteMap().SiteMapTitle()</h1>
}

@section subnav
{

}

<p>@System.Configuration.ConfigurationManager.AppSettings["gaServicePrivateKeyFilePath"]</p>
<p>@System.Configuration.ConfigurationManager.AppSettings["gaServiceAccountEmail"]</p>

@{
    var appSettings = System.Configuration.ConfigurationManager.AppSettings;
}
@foreach (var name in appSettings)
{
    <p>@name, appSettings[name]</p>
}