@model Google.Apis.Analytics.v3.Data.GaData

<section class="toc-hidden">

    @MyHelpers.BigFontTocSectionHeader(Html, "Simplified Google Analytics")

    <p>
        @Html.Partial("_GaTable", Model)
    </p>

</section>
