<h2>PayPal Success</h2>

<div class="alert alert-success">
    <p>Thank you. You have completed your order with PayPal.</p>
    <p>If you are attending an event, please bring proof of payment (e.g. your receipt).</p>
</div>